## DeFi arbitrage

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from fetch import *
from one_inch_fetch import *
from arb import *
from constants import *

NO ASK AVAILABLE
NO BID AVAILABLE
NO EXCHANGE
{'from': 'USDC', 'to': 'MATIC', 'exchange_rate': 1.2987012}
{'from': 'USDC', 'to': 'MATIC', 'exchange_rate': 1.2987012}
{'from': 'USDC', 'to': 'MATIC', 'exchange_rate': 1.2987012}

In [2]:
df_WETH = pd.DataFrame(columns=['# of arbitrage', 'total orders', '% of arbitrage'])
df_WBTC = df_WETH.copy()
df_BNB = df_WETH.copy()
df_MATIC = df_WETH.copy()
df_SHIBA = df_WETH.copy()
df_USDC = df_WETH.copy()
df_USDT = df_WETH.copy()
df_DAI = df_WETH.copy()

In [3]:
%%time
### WETH
df_WETH.loc['USDC'] = arb(WETH, USDC, ethereum, limit)
df_WETH.loc['USDT'] = arb(WETH, USDT, ethereum, limit)
df_WETH.loc['DAI'] = arb(WETH, DAI, ethereum, limit)
# arb(WETH, WBTC, ethereum, limit)
df_WETH.loc['BNB'] = arb(WETH, BNB, ethereum, limit)
# arb(WETH, MATIC, ethereum, limit)
# arb(WETH, SHIBA, ethereum, limit)

Wall time: 17.7 s

In [4]:
print("Use WETH to buy following tokens low in 1inch and sell high at 0x")
df_WETH

Use WETH to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC            11.0         500.0        0.022000
USDT             7.0         215.0        0.032558
DAI             10.0          90.0        0.111111
BNB              2.0          11.0        0.181818

In [5]:
%%time
### WBTC
df_WBTC.loc['USDC'] = arb(WBTC, USDC, ethereum, limit)
# arb(WBTC, USDT, ethereum, limit)
# arb(WBTC, DAI, ethereum, limit)
# arb(WBTC, WETH, ethereum, limit)
df_WBTC.loc['BNB'] = arb(WBTC, BNB, ethereum, limit)
# arb(WBTC, MATIC, ethereum, limit)
# arb(WBTC, SHIBA, ethereum, limit)

Wall time: 7.53 s

In [6]:
print("Use WBTC to buy following tokens low in 1inch and sell high at 0x")
df_WBTC

Use WBTC to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             9.0         175.0        0.051429
BNB              1.0           3.0        0.333333

In [7]:
%%time
### BNB
df_BNB.loc['USDC'] = arb(BNB, USDC, ethereum, limit)
df_BNB.loc['USDT'] = arb(BNB, USDT, ethereum, limit)
# arb(BNB, DAI, ethereum, limit)
df_BNB.loc['WETH'] = arb(BNB, WETH, ethereum, limit)
# arb(BNB, WBTC, ethereum, limit)
# arb(BNB, MATIC, ethereum, limit)
# arb(BNB, SHIBA, ethereum, limit)

Wall time: 10.5 s

In [8]:
print("Use BNB to buy following tokens low in 1inch and sell high at 0x")
df_BNB

Use BNB to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             1.0           1.0             1.0
USDT             1.0           1.0             1.0
WETH             0.0          13.0             0.0

In [9]:
%%time
### MATIC
df_MATIC.loc['USDC'] = arb(MATIC, USDC, ethereum, limit)
# arb(MATIC, USDT, ethereum, limit)
# arb(MATIC, DAI, ethereum, limit)
# arb(MATIC, WETH, ethereum, limit)
# arb(MATIC, WBTC, ethereum, limit)
# arb(MATIC, BNB, ethereum, limit)
# arb(MATIC, SHIBA, ethereum, limit)

Wall time: 3.95 s

In [10]:
print("Use MATIC to buy following tokens low in 1inch and sell high at 0x")
df_MATIC

Use MATIC to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             1.0          20.0            0.05

In [11]:
%%time
### SHIBA
df_SHIBA.loc['USDC'] = arb(SHIBA, USDC, ethereum, limit)
# arb(SHIBA, USDT, ethereum, limit)
# arb(SHIBA, DAI, ethereum, limit)
# arb(SHIBA, WETH, ethereum, limit)
# arb(SHIBA, WBTC, ethereum, limit)
# arb(SHIBA, BNB, ethereum, limit)
# arb(SHIBA, MATIC, ethereum, limit)

Wall time: 4.24 s

In [12]:
print("Use SHIBA to buy following tokens low in 1inch and sell high at 0x")
df_SHIBA

Use SHIBA to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             1.0          31.0        0.032258

In [13]:
%%time
### USDC
# arb(USDC, USDT, ethereum, limit)
# arb(USDC, DAI, ethereum, limit)
df_USDC.loc['WETH'] = arb(USDC, WETH, ethereum, limit)
df_USDC.loc['WBTC'] = arb(USDC, WBTC, ethereum, limit)
df_USDC.loc['BNB'] = arb(USDC, BNB, ethereum, limit)
# arb(USDC, MATIC, ethereum, limit)
df_USDC.loc['SHIBA'] = arb(USDC, SHIBA, ethereum, limit)

Wall time: 16 s

In [14]:
print("Use USDC to buy following tokens low in 1inch and sell high at 0x")
df_USDC

Use USDC to buy following tokens low in 1inch and sell high at 0x

       # of arbitrage  total orders  % of arbitrage
WETH              2.0           8.0            0.25
WBTC              0.0           4.0            0.00
BNB               1.0           5.0            0.20
SHIBA             0.0         476.0            0.00

In [15]:
%%time
### USDT
df_USDT.loc['USDC'] = arb(USDT, USDC, ethereum, limit)
# arb(USDT, DAI, ethereum, limit)
# arb(USDT, WETH, ethereum, limit)
# arb(USDT, WBTC, ethereum, limit)
df_USDT.loc['BNB'] = arb(USDT, BNB, ethereum, limit)
# arb(USDT, MATIC, ethereum, limit)
# arb(USDT, SHIBA, ethereum, limit)

Wall time: 7.44 s

In [16]:
print("Use USDT to buy following tokens low in 1inch and sell high at 0x")
df_USDT

Use USDT to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             2.0           9.0        0.222222
BNB              0.0           5.0        0.000000

In [17]:
%%time
### DAI
df_DAI.loc['USDC'] = arb(DAI, USDC, ethereum, limit)
# arb(DAI, USDT, ethereum, limit)
# arb(DAI, WETH, ethereum, limit)
# arb(DAI, WBTC, ethereum, limit)
df_DAI.loc['BNB'] = arb(DAI, BNB, ethereum, limit)
# arb(DAI, MATIC, ethereum, limit)
# arb(DAI, SHIBA, ethereum, limit)

Wall time: 7.04 s

In [18]:
print("Use DAI to buy following tokens low in 1inch and sell high at 0x")
df_DAI

Use DAI to buy following tokens low in 1inch and sell high at 0x

      # of arbitrage  total orders  % of arbitrage
USDC             0.0           3.0            0.00
BNB              1.0           4.0            0.25